* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:#999;
}

.animation {
    width: 450px;
    height: 350px;
}
.animation:nth-of-type(1){
}
.animation:nth-of-type(2){
    display:none;
}
